body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#menu {
    width: 20%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center child elements horizontally */
}

#menu h1 {
    text-align: center; /* Center text within the h1 element */
    margin: 0;
    padding: 10px;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left; /* Left-justified links */
    border-bottom: 1px solid #444;
    width: 100%; /* Ensure full width for the links */
    padding-left: 20px; /* Indent child links */
}

#menu a:hover {
    background-color: #575757;
}

.parent-link {
    font-weight: bold; /* Make parent link more prominent */
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #444;
    background-color: #444; /* Slightly different background for parent */
    width: 100%; /* Ensure full width for the parent link */
}

.parent-link:hover {
    background-color: #575757;
}

#menuToggle {
    display: none;
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

#menuLogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

iframe {
    width: 80%;
    height: 100%;
    border: none;
    transition: width 0.3s ease;
}

/* Dropdown Styles */
.dropdown-content {
    display: none; /* Hide dropdown by default */
}

.dropdown-content.show {
    display: block; /* Show dropdown when triggered */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    #menuToggle {
        display: flex;
    }

    #menu {
        transform: translateX(-100%);
        position: absolute;
        z-index: 999;
        width: 100%;
        height: calc(100vh - 50px);
        align-items: center; /* Ensure centered alignment on mobile too */
    }

    #menu.show {
        transform: translateX(0);
    }

    iframe {
        width: 100%;
        height: calc(100vh - 50px);
        margin-top: 50px;
    }
}

/* Hide menu toggle and logo on PC */
@media (min-width: 769px) {
    #menuToggle {
        display: none;
    }
}
